<template name="businessList">
	<div class='business-list'>
		<h2 class="text-center">Business List</h2>	
		<div class="single-business">
            <h3>Business Name</h3>
            <h4>Subheading</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
            <a class="btn btn-dabl3" href="portfolio-item.html">Edit Details</a>
        </div>	

        <hr>

        <div class="single-business">
            <h3>Business Name</h3>
            <h4>Subheading</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
            <a class="btn btn-dabl3" href="portfolio-item.html">Edit Details</a>
        </div>	

        <hr>

        <div class="single-business">
            <h3>Business Name</h3>
            <h4>Subheading</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
            <a class="btn btn-dabl3" href="portfolio-item.html">Edit Details</a>
        </div>	

        <hr>

        <div class="single-business">
            <h3>Business Name</h3>
            <h4>Subheading</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
            <a class="btn btn-dabl3" href="portfolio-item.html">Edit Details</a>
        </div>	

        <hr>	
	</div>
</template>